.chart-space {
  height: 50vh;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.chart-tabs button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ececec;
  color: black;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 3px 3px 3px 3px rgba(15, 15, 15, 0.2);
}

.chart-tabs button:hover {
  transform: scale(1.05);
}

.chart-tabs .active {
  background-color: black;
  color: white;
  border: 10px black ;
  box-shadow: 3px 3px 3px 3px rgba(15, 15, 15, 0.2);
}
