.login-container {
  display: flex;
  height: 100vh;
  min-width: 700px;
}

.login-container h1{
  font-size: 40px;
  text-align: center;
}

.login-container h2{
  font-size: 20px;
  font-weight: bold;
}


#left-side{
  border-right: 0.5px solid rgb(39, 39, 42);
  background-color: rgb(24, 24, 27);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#left-side h2{
  text-align: center;
  margin-bottom: 15px;
}

#right-side{
  border-left: 0.5px solid rgb(39, 39, 42);
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

#right-side h1{
  padding: 30px;
}

#right-side h2{
  text-align: left;
  margin-bottom: 15px;
}


#panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  height: 100vh;
  padding: 30px;
  margin-left: 10px;
}

#passText{
  margin-top: 10px;
}

#login-button {
  margin-top: 10px;
}

#panel Input, #left-side Button, #right-side Button{
  max-width: 220px;
}


.show{
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
}


.stash{
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease, transform 1s ease;
}

.bold{
  font-weight: bold;
}

.warning{
  color: rgb(209, 108, 108);
}