* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(39, 39, 42);
}

#left-side {
  background-color: rgb(24, 24, 27);
  border-color: aliceblue;
  border-right: 0.5px solid rgb(39, 39, 42);
  height: 100%;
  width: 50%;
}

#right-side {
  background-color: black;
  border-left: 0.5px solid rgb(39, 39, 42);
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#panel Input {
  color: aliceblue;
}

#right-side h1,
h2 {
  color: white;
  text-align: center;
}
