.login-container {
  display: flex;
  height: 100vh;
  min-width: 700px;
  background-color: #121212;
}

.login-container h1 {
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

.login-container h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

#left-side {
  border-right: 0.5px solid rgb(39, 39, 42);
  background-color: rgb(24, 24, 27);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#left-side h2 {
  text-align: center;
  margin-bottom: 15px;
}

#register-button {
  width: 60%;
  max-width: 250px;
  padding: 10px;
  background-color: #5a9ec9;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}

#register-button:hover {
  background-color: #4682a9;
}

#right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
}

#right-side h1 {
  padding: 20px;
  text-align: center;
}

#panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

#panel h2 {
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}

#panel input {
  width: 100%;
  padding: 10px;
  border: 1px solid #5a9ec9;
  border-radius: 5px;
  background-color: #282828;
  color: white;
}

#login-button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #5a9ec9;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s ease;
}

#login-button:hover {
  background-color: #4682a9;
}

.warning {
  color: rgb(209, 108, 108);
  font-weight: bold;
  margin-top: 10px;
}

.show {
  opacity: 1;
  transition: opacity 1s ease, transform 1s ease;
}

.stash {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease, transform 1s ease;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.3s ease-in-out;
}
