.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px;
  min-height: 100vh;
  background-color: #f4f4f4; /* Fondo sutil gris */
}



.title {
  font-size: 36px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

.account-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  object-fit: cover;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputs-container label {
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
}

.inputs-container input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #ccc;
  background-color: #f8f9fa;
  color: #000000;
  font-weight: 500;
  transition: border-color 0.3s ease;
}
.inputs-container input:focus {
  border-color: #000;
  outline: none;
}

.inputs-container input:disabled {
  background-color: #ffffff;
  color: #5a5a5a;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.buttons-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.edit-button {
  background-color: black;
  color: white;
}

.edit-button:hover {
  background-color: rgb(51, 50, 50);
  transform: scale(1.05);
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  display: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-button:hover {
  background-color: #d93636;
  transform: scale(1.05);
}

.editar-activo .delete-button {
  display: block;
}

.nombre-apellidos {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-link {
  color: black;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}
.text-link:hover {
  color: gray;
}