.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: white;
}

.title {
  font-size: 36px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

.account-box {
  background-color: #ececec;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputs-container label {
  color: #000000;
  font-weight: bold;
  margin-top: 10px;
}

.inputs-container input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 3px solid #000000;
  background-color: #f8f9fa;
  color: #000000;
  font-weight: bold;
}

.inputs-container input:disabled {
  background-color: #ffffff;
  color: #5a5a5a;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.buttons-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.edit-button {
  background-color: black;
  color: white;
}

.edit-button:hover {
  background-color: rgb(51, 50, 50);
  transform: scale(1.05);
}

.delete-button {
  background-color: rgb(231, 60, 60);
  color: white;
  display: none;
}

.delete-button:hover {
  background-color: rgb(180, 80, 80);
  transform: scale(1.05);
}

.editar-activo .delete-button {
  display: block;
}

.nombre-apellidos {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.text-link {
  color: black;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}
.text-link:hover {
  color: gray;
}