.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #8cb1c4;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.p-menubar {
  width: 100%;
  justify-content: center;
  background-color: transparent;
  color: white;
}


.selected-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.p-menuitem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.p-menuitem {
  margin-right: 15px;  
}

.p-menuitem:last-child {
  margin-right: 0;  
}
