.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #8cb1c4;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  padding: 5px 20px;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.p-menubar {
  flex: 1;
  background-color: transparent;
  margin-left: 100px;
}

.selected-item {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.p-menuitem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.p-menuitem {
  margin-right: 15px;  
}


.logout-button {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
  transition: background 0.3s;
  margin-right: 100px;
}

.logout-button:hover {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 6px;
}